.dropdown{class:@component_classes}
  %div.d-flex.align-items-center{data: {toggle: "dropdown"}}
    %div
      = header
    = helpers.inline_svg_tag 'icons/chevron-down.svg', class: 'svg-icon ms-1'
  %div.dropdown-menu
    - sections.each do |s|
      = s