<%= content_tag :div, id: "bd", style: "clear: both; text-align: center; margin-top: 100px; margin-bottom: 100px;" do -%>
  <h1>We're sorry, but something went wrong. Please try again later.</h1>
<% end -%>