- @title = "Mappings"
%div#mappings_container.container-fluid
  %h2.mt-4 Mappings
  %p
    = t('mappings.intro').html_safe
    = link_to(Rails.configuration.settings.links[:help_mappings],
              data: {controller: 'popup', action: 'click->popup#open'}, 'aria-label': 'View mappings help') do
      %i{class: 'fas fa-question-circle fa-lg ps-1', "aria-hidden": "true"}
  %p{id: 'mappings_select', class: 'mb-2'}
    - if @options.empty?
      No mappings available
    - else
      = select('search', 'ontologies', @options, {:include_blank => ""},{:onchange=>"loadMappings(this.value);", "data-placeholder".to_sym => "Select an Ontology", autocomplete: "off"})
      #mapping_load
        %img{src: asset_path("spinner.gif")}
        Loading mappings...
      #mappingCount
