.tree-view-reuse-icon {
    display: inline;
}

.tree-view-reuse-icon svg {
    width: 13px;
}

div.tree_error {
    background: none repeat scroll 0 0 lightYellow;
    font-weight: 600;
    padding: 5px 10px;
}

.expansion_error {
    color: red;
    font-size: x-small;
    font-style: oblique;
    padding: 0 3px;
}

#bd ul.simpleTree li {
    margin-left: 0;
    padding: 5px 0 0 10px;
}

#bd ul.simpleTree {
    margin-left: 0;
    margin-bottom: 0;
}

.simpleTree {
    margin: 0;
    padding: 0;

    a.tree-link {
        display: inline-block;
        padding: 5px;
        text-wrap: wrap;
        color: var(--primary-color) !important;
    }

    a.tree-link.active {
        cursor: default;
        background-color: var(--light-color);
        font-weight: bold;
        border-radius: 3px;
        padding: 7px 5px;
    }

    .tree-border-left {
        border-left: 2px dotted #eee;
        margin-left: 2px;
    }
}

.simpleTree li {
    list-style: none;
    margin: 0;
    padding: 0 0 0 22px;
    line-height: 14px;
}

.simpleTree li span {
    display: inline;
    clear: left;
    white-space: nowrap;
}

.simpleTree ul {
    margin: 0;
    padding: 0;
}

.simpleTree .root ul {
    margin: 0;
}

.simpleTree .root {
    margin-left: -16px;
    /*background: url(/images/tree/root.gif) no-repeat 16px 0 #ffffff;*/
}

.simpleTree .ajax li {
    display: none;
    margin: 0;
    padding: 0;
}

.simpleTree .trigger {
    display: inline;
    margin-left: -32px;
    width: 28px;
    height: 11px;
    cursor: pointer;
}

.simpleTree .text {
    cursor: default;
    padding: 0 2px;
}

.simpleTree .active {
    cursor: default;
    background-color: #B9D5E4;
    font-weight: bold;
    padding: 0 2px;
}

.simpleTree a, .simpleTree a:hover {
    text-decoration: none;
    color: black;
}

.simpleTree a:hover {
    cursor: pointer;
}