// Entry point for your Sass build

// Local vendor styles
@use 'jquery-ui';
@use 'alertify';
@use 'chosen';
@use 'facebox';
@use 'fg.menu';
@use 'flag-icon';
@use 'jquery.autocomplete';
@use 'jquery.tooltip';
@use 'jquery-ui-1.8.1.custom';
@use 'thickbox';
@use 'select2';
@use 'trumbowyg';

// Dependencies from node_modules
@use 'tom-select/dist/scss/tom-select';
@use 'tippy.js/dist/tippy';
@use 'tippy.js/themes/light-border';

// BioPortal
@use 'account';
@use 'admin';
@use 'annotator';
@use 'bioportal';
@use 'concepts';
@use 'edit-ontology';
@use 'footer';
@use 'home';
@use 'login';
@use 'mappings';
@use 'notes';
@use 'notice';
@use 'ontologies';
@use 'ontology_viewer';
@use 'recommender';
@use 'search';
@use 'submissions';
@use 'tree';
@use 'upload_ontology';
@use 'variables';

// Component styles
@use "components/index";

// Bootstrap
@use "bootstrap";
@use "bootstrap_overrides";
