/* Basic styling for disabled inputs */
input:disabled {
  background-color: #f2f2f2;
  color: #999999;
  cursor: not-allowed;
  border: 1px solid #cccccc;
  opacity: 0.7;
}

/* Remove hover effects on disabled inputs */
input:disabled:hover {
  border-color: #cccccc;
}

/* Style for disabled text input specifically */
input[type="text"]:disabled {
  background-color: #ebebeb;
}

/* Add a subtle indication of disabled state */
input:disabled::placeholder {
  color: #b3b3b3;
  font-style: italic;
}

.turbo-progress-bar {
  height: 10px;
  background-color: #ffffff;
}

.tabs-container .tab-items > div button{
  color: var(--primary-color) !important
}

a{
  text-decoration: none !important;
}

body{
  position: relative;
}

.alignright {
  float:right;
}
.alignleft {
  float:left;
}

#bd {
  background: #fff;
}


/* Tables */

.minimal {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  text-align: left;
  border-collapse:separate;
}
.minimal caption {
  padding: 0 0 5px 0;
  width: 100%;
  font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
}
.minimal thead th {
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}
.minimal tbody td {
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: .6em .8em;
}
.minimal tbody tr:hover td {
  color: #234979;
  background: #f5fafa;
  border-bottom: 1px solid #ccc;
}

table.align-right td:nth-child(2),
table.align-right th:nth-child(2) {
  text-align: right;
}

.annotations {
  background:#fff;
}
.annotations caption {
  padding: 0 0 5px 0;
  width: 100%;
  font: italic 95% "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
}
.annotations thead th, .basic tbody th {
  font-weight:bold;
  padding: 5px 20px 5px 0;
}
.annotations tbody td {
  padding: 5px 10px 5px 0;
}
.annotations .superhead {
  padding: 2px 20px 2px 0;
  font-size: x-large;
  font-weight: normal;
  color: #039;
  padding: 20px 0;
  line-height: 1em;
}
.annotations .annot_info {
  color: gray;
}
.annotations .annot_text {
  font-size: small;
  padding: 0 0 20px 0;
}
.annotations .annot_text_head {
  font-weight: bold;
  padding: 10px 0 0;
}
.zebra caption {
  padding: 0 0 5px 0;
  width: 100%;
  font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
}
.zebra th {
  white-space:nowrap;
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #234979;
  border-left: 1px solid #C1DAD7;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 20px 6px 12px;
  background-color: #e2ebf0;
}
.zebra tbody th {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #234979;
  border-left: 1px solid #C1DAD7;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background-color: #fff;
}
.zebra th.alt {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: #f5fafa;
  font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #797268;
}
.zebra th.nobg {
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #C1DAD7;
  background: none;
}
.zebra td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  padding: 6px 6px 6px 12px;
  color: #000;
}
.zebra td.alt {
  background: #f5fafa;
  color: #000;
}
.zebra tr {
  border-left: 1px solid #C1DAD7;
  color: #000;
}
.zebra tr.alt {
  border-left: 1px solid #C1DAD7;
  background: #f5fafa;
  color: #000;
}
.form caption {
  padding: 0 0 5px 0;
  width: 100%;
  font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
}
.form th {
  white-space:nowrap;
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #234979;
  border-left: 1px solid #C1DAD7;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #e2ebf0;
}
.form th.alt {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: #f5fafa;
  font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #797268;
}
.form th.nobg {
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #C1DAD7;
  background: none;
}
.form td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  padding: 6px 6px 6px 12px;
  color: #000;
}
.form td.alt {
  background: #f5fafa;
  color: #000;
}
.form tr {
  border-left: 1px solid #C1DAD7;
  color: #000;
}
.form tr.alt {
  border-left: 1px solid #C1DAD7;
  background: #f5fafa;
  color: #000;
}
.form td.top, table.form > :first-child > :first-child > td {
  border-top: 1px solid #C1DAD7;
}

/* Notes*/

.notetype {
  font: bold 12px 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
  color: #234979;
}
.header {
  cursor:pointer;
  font:11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #234979;
  border-left: 1px solid #C1DAD7;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #e2ebf0;
}
.message {
  background: #ECF5FB;
}
.sender {
  padding:5px;
  border: 1px solid #C1DAD7;
}
.hiddenNote {
  background-color:gray;
}
.messages {
  padding:10px;
  background: #FCFCFC;
  border-bottom: 1px solid #C1DAD7;
  border-left: 1px solid #C1DAD7;
  border-right: 1px solid #C1DAD7;
}

/*Projects */
.pheader {
  cursor:pointer;
  font-weight:bold;
  font:14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #234979;
  border-left: 1px solid #C1DAD7;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 1px;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #e2ebf0;
}

.asterik{
    color:red;
    font-weight:bold;
}

#tag_clouds a{
    text-decoration:none;
}

.blue-highlight{
  border:1px #AFAFAF dashed;
  background-color:#f5fafa;
  padding:5px;
}
.sorting_asc{
    background-image: url('layout/asc.png');
    background-repeat:no-repeat;
    background-position:98%;
}
.sorting_desc{
    background-image: url('layout/desc.png');
    background-repeat:no-repeat;
    background-position:98%;
}

.sorting, .sorting_asc, .sorting_desc {
  cursor: pointer;
}

.feedback {
  margin-bottom: 1em;
}

.feedback ul li, .enable-lists ul li {
  list-style-position: outside;
  list-style-type: square;
  margin-left: 1.5em;
}

.enable-lists ul {
  margin-bottom: 15px;
}

#ontologies_filter.dataTables_filter {
  display: none;
}

.metrics p {
  margin-bottom: 0.5em;
}

.metrics h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.obsolete_class {
  color: rgb(100,100,100)!important;
  cursor: help;
  font-style: oblique;
}
/* markup obsolete class when 'highlighted' */
.chzn-results .highlighted .obsolete_class {
  color: rgb(200,200,200);
  cursor: inherit;  /*override the help cursor for selection menus*/
}
li.ac_over > .obsolete_class {
  color: rgb(200,200,200);
  cursor: inherit;  /*override the help cursor for selection menus*/
}

#format_specific_options td {
  border-top: 1px solid #C1DAD7;
}

#format_specific_options #owl_options {
  display: none;
}

.defaultText {
  color: inherit;
  width: 25em;
}

.defaultTextActive {
  color: #a1a1a1;
  font-style: italic;
}

.contextMenu {
  display:none;
}

#bp_fake_root {
  display: none;
}

/************************************
 * Ontology Viewing
 ************************************/
.hidden {
  position:absolute;
  top:0;
  left:-9999px;
  width:1px;
  height:1px;
  overflow:hidden;
}

.fg-button-menu {
  clear:left;
  margin:0 0 40px -4px;
  padding: .4em 1em;
  text-decoration:none !important;
  cursor:pointer;
  position: relative;
  text-align: center;
  zoom: 1;
  font-size: .8em !important;
}

.fg-button {
  clear:left;
  margin:0 4px 40px 20px;
  padding: .4em 1em;
  text-decoration:none !important;
  cursor:pointer;
  position: relative;
  text-align: center;
  zoom: 1;
  font-size: .9em !important;
}

.fg-button-menu .ui-icon, .fg-button .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -8px;
}

button.fg-button-menu, button.fg-button {
  width:auto;
  overflow:visible;
}

/* removes extra button width in IE */
.fg-button-icon-right {
  padding-right: 2.1em;
}

.fg-button-icon-right .ui-icon {
  left: auto;
  right: .2em;
  margin-left: 0;
}

.fg-button.ui-state-loading .ui-icon {
}

.hidden_ont {
  display: none;
}

#new_ontology img.ui-datepicker-trigger {
  vertical-align: middle;
  padding-left: 5px;
}

.ontology_submission_status {
    font-size: x-small;
    color: gray;
    padding-left: 10px;
}

/************************************
 * Browse Page
 ************************************/
 #ont_sum_link:link, #ont_sum_link:visited {
   color: white;
   text-decoration: none;
 }

 #ont_sum_link:hover {
   color: lightGray;
 }

.ont_icons {
  width: 22px;
  height: 22px;
  background-color: #ccc;
/*  border: gray 1px solid;*/
  color: gray;
  display: block;
  float: right;
  padding: .5px;
  font-size: 11px;
  line-height: 11px;
  text-align: left;
  margin: 1px 1px;
  text-decoration: none;
  font-family: Lucida Console,Monaco,monospace;
}

.ont_icons .disabled {
  background-color: gray;
}

.ont_counts {
  display: block;
  padding: 1px;
  font-size: 9px;
  text-align: right;
  color: black;
}

.hidden_cat {
  display: none;
}

.too_many_children_override {
  color: #234979 !important;
}

.too_many_children_override:hover {
  color: #234979 !important;
  text-decoration: underline !important;
}


/************************************
 * Ontology Creation / Editing
 ************************************/

.default_owl {
  color: gray;
  font-size: x-small;
  text-transform: none;
  letter-spacing: 0;
}

.default_owl a {
  color: gray;
  font-size: x-small;
  text-transform: none;
  letter-spacing: 0;
}

/************************************
 * Top navigation bar
 ************************************/
div#topNavigationToggler {
  justify-content: space-between;
  a.btn.btn-login {
    color: var(--login-btn-color);
    border-color: var(--login-btn-color);

    &:hover {
      color: var(--primary-color);
      background-color: var(--login-btn-hover-bg-color);
    }
  }
}

.navbar-custom {
  background-color: var(--primary-color);
}

/************************************
 * Ontology picker
 ************************************/

.ont_select_adv {
  border-radius: 0;
}

.ont_select_adv > .ui-widget-header {
  background: none;
  border-radius: 0;
  border: none;
}

#ontology_picker_container div.chzn-container {
  width: 432px !important;
}

#ontology_picker_container div.chzn-container-active ul.chzn-choices li.search-field input {
  font-style: normal !important;
}

#ontology_picker_container div.chzn-container ul.chzn-choices {
  max-height: 110px;
  overflow: auto !important;
}

#ontology_picker_container div.chzn-container li.search-field input {
  font-style: oblique;
}

#ontology_picker_container div.chzn-drop {
  display: none;
}



.no_right_border {
  border-right: none !important;
}

.help_text_font {
  color: gray;
  font-style: oblique;
}

/************************************
 * Standardized BP Popups
 ************************************/

.popup_container {
  padding-left: 5px;
  letter-spacing: 0;
  font-size: x-small;
  text-transform: lowercase;
  position: absolute;
}

.bp_popup_link_active {
  background-color: white;
  z-index: 4000;
  border-bottom: none !important;
  border: solid thin gray;
  padding: 5px;
  height: 10px;
  position: relative;
  display: inline-block;
}

.bp_popup_shadow {
  box-shadow: 0 0 10px gray;
}

.bp_popup_list {
  background-color: white;
  border: thin solid gray;
  padding: .5em;
  position: absolute;
  left: 5px;
  top: 20px;
  width: 300px;
  max-height: 250px;
  overflow: auto;
  text-transform: none;
  box-shadow: 0 0 10px gray;
  cursor: auto;
  z-index: 4001;
}

.matched_in .popup_container #matched_filter_list {
  width: 120px;
}

h1.tab_header {
  padding: 10px 0 0 13px;
  margin-bottom: 0;
}

p.tab_description {
  padding: 0 13px 0;
  margin-bottom: 10px;
}

input.link_button, a.link_button {
  font-size: 10pt;
  padding: 0.25em 0.5em !important;
}

input.link_button span.ui-button-text,
a.link_button span.ui-button-text {
  font-size: 8pt;
  padding: 0;
}

input.link_button > span.ui-button-text,
a.link_button > span.ui-button-text {
  padding: 0.25em 0.5em !important;
}

.success_message {
  background-color: #FFFFD6;
  border: thin solid yellow;
  margin: 5px 0 10px;
  padding: 5px 30px;
  text-align: center;
  color: #525252;
}

/************************************
 * Truncate more/less
 ************************************/
.truncated_less {
  display: none;
}

a.truncated_less, a.truncated_more {
  font-size: smaller;
  color: gray;
}

.chzn-container ul li input {
  font-style: oblique;
}

.chzn-container-active ul li input {
  font-style: normal !important;
}

.search_ontology_acronym {
  padding-left: 3px;
  color: gray;
}

.highlighted .search_ontology_acronym {
  color: white;
}
.hide {
  display: none !important;
}

.empty-state {
  display: none;

  &:only-child {
    display: revert;
  }

}

turbo-frame[busy] > .hide-if-loading, .show-if-loading {
  display: none;
}
turbo-frame[busy] ~ .show-if-loading {
  display: inline-block;
}

.cookie-banner {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  top: initial;
  left: initial;
  bottom: 2em;
  right: 2em;
  z-index: 9999;
  background: white;
  max-width: 1024px;
}

/* Log prettifying */
/* Line-level coloring */
.log-block .line-error { color: #dc3545; }   /* whole line */
.log-block .line-warn  { color: #b58900; }

/* Optional: emphasize exception class names */
.log-block .exc { color: #dc3545; font-weight: 600; }
.log-block { background: #fff; }
.log-block .ts        { color: #6c757d; }       /* timestamp */
.log-block .lvl-info  { color: #0d6efd; }       /* INFO/I */
.log-block .lvl-warn  { color: #b58900; }       /* WARN/W */
.log-block .lvl-error { color: #dc3545; }       /* ERROR/E */
.log-block .lvl-debug { color: #6f42c1; }       /* DEBUG/D */
.log-block .path      { color: #198754; }       /* /path/to/file */