

@media (min-width: 1000px)  {
  #mappings_container{
    max-width: 1140px;
  }
}

p#mappings_select {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}

p#display_options {
  padding-left: 10px;
  margin-bottom: 0;
}

div#mapping_load {
  padding: 1em 1em 0;
  margin-bottom: -1em;
  display: none;

  img {
    vertical-align: text-bottom;
  }
}

div#mappingCount {
  overflow: hidden;
  padding-top: 10px;
}

#mapping_count_table {
  width: 100%;

  tbody > tr :nth-child(1) {
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

/* Create New Mapping dialog */

turbo-frame#map_to_details {
  display: block;

  dl {
    max-height: 200px;
    overflow: auto;
  }
}

/* select2 is still used by AnnotatorPlus */
.select2-container {
  width: 100% !important;
}

/* Concept mappings table */

#concept_mappings_table {
  width: 100%;
}

