:root {
  --primary-color: #234979;
  --hover-color: #2B5892;
  --secondary-color: #ffc107;
  --light-color: #F0F5F6;
  --error-color: #EB4335;
  --warning-color: #F2BE22;
  --gray-color: #888888;
  --success-color: #2DC54E;
  --admin-color: #145FF4;
  --container-max-width: 1248px;
  --bg-info-light-color: rgba(59, 130, 246, 0.1);
  --bg-danger-light-color: rgba(239, 68, 68, 0.1);
  --bg-warning-light-color: rgba(234, 179, 8, 0.1);
  --bg-success-light-color: rgba(34, 197, 94, 0.1);
  --bg-chip-button: #777777;
  --text-chip-button: #FFFFFF;
  --login-btn-color: #C58612;
  --login-btn-hover-bg-color: #C58612;
}
